/* General */

html {
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    background-color: rgb(68, 68, 68);
    color: rgb(226, 223, 223);
}

h1, h2 {
    font-family: "Pragati Narrow", serif;
}

h1 {
    font-size: 2rem;
    margin: 0 auto;
    color: rgb(191, 187, 187);
    text-transform: uppercase;
}

h2 {
    font-size: 2rem;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(226, 223, 223);
}

a:hover {
    color: rgb(169, 167, 167);
}

.hidden {
    display: none;
}

.flexbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    width: 85%;
    margin: 0 auto;
}

.shadow-box {
    padding: 1rem;
    box-shadow: 0 0 1px 1px black;
    border-radius: .5rem;
    width: 85%;
    text-align: center;
}

.secondary-background {
    background-color: rgb(43, 43, 43);
    color: rgb(191, 187, 187);
}

/* Header */
header {
    position: fixed;
    width: 100%;
    background-color: rgb(43, 43, 43);
}

header p {
    margin: 0;
}

address {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    font-style: italic;
}

address p {
    padding-right: 2rem;
}

address .fa-gitlab {
    padding-right: 5px;
}

.subheader {
    margin-bottom: 1rem;
    color: rgb(169, 167, 167);
    text-transform: uppercase;
    font-size: 1rem;
    text-align: center;
}

/* Main Image */

.main-image {
    padding-top: 8rem;
}

figure {
    width: 75%;
    padding: .5rem .5rem 0 .5rem;
    box-shadow: 0 0 1px 1px black;
}

img {
    max-width: 100%;
}

figcaption {
    margin: .5rem;
}

figcaption p {
    margin: 0 auto;
}

/* Info Section */
.info-item {
    margin: .5rem 0;
    padding: 1rem;
    width: 80%;
    border-left: .25rem solid rgb(226, 223, 223);
}

/* Quote Section */
.quote {
    margin-top: 2rem;
    font-style: italic;
}

blockquote {
    margin: 1rem 0;
}

/* More Info Section */
.more-info {
    font-size: 2rem;
    text-align: center;
}

/* Media Queries */

@media only screen and (min-width: 61.25rem) {
    .container {
	width: 60%;
	margin: 0 auto;
    }

    .shadow-box {
	width: 60%;
	margin-top: 1rem;
    }

    h1 {
	font-size: 3.5rem;
    }

    .subheader {
	font-size: 1.5rem;
    }

    .main-image {
	padding-top: 9rem;
    }

    .info-item {
	width: 60%;
    }
}
